/* Améliore la fenêtre de l'éditeur CSS de BetterDiscord */
#floating-windows-layer>div		{border:2px solid #663399!important;position:absolute!important;top:0px;left:0px;width:500px;height:300px;padding:0px!important;border-radius:9px!important;resize:both!important;min-width:278px!important;min-height:64px!important;max-width:100%!important;max-height:100%!important}
.floating-window:hover			{z-index:999}
.floating-window:focus-within	{z-index:9999}
