:root {
	--Groulor:	#5D64EF		/* var(--bg-brand) */
}

.visual-refresh {
	#app-mount {

	/*** Estompage des utilisateurs supprimés de la colonne des conversations privées ***/
		.dm__972a0:has([aria-label*="deleted_user"]):not(:has([class*="selected"]),:hover) {opacity:.25}

	/** Suppression du statut en texte sous les pseudos de la liste des amis **/
		.text__19b6d {display:none}

	/*** Ajustement de la barre de défilement de la colonne des membres ***/
		.members_c8ffbb::-webkit-scrollbar {width:6px}

	/*** Suppression de l'indicateur de statut par défaut ***/
		.wrapper__44b0c,
		.container__1ce5d {
			rect,circle,&>div,
			.status_a423bd {display:none}

			[mask] {mask:none}

			.mask__44b0c .avatar__44b0c,
			& :is([src*="avatars"],[src*="assets"]) {
				border-radius:50%
			}
		}

	/*** Remplacement de l'indicateur de frappe ***/
		[class*="layout"]:has(.dots__5ad89) {
			& :is([src*="avatars"],[src*="channel-icon"],[src*="assets"],[class*="emoji"],.badge__10651,path) {
				will-change:transform;
				transform-origin:50% 50%;
				animation:rotate 1.25s infinite linear
			}

			& [class*="content"] {
				will-change:transform;
				transform-origin:0% 50%;
				animation:rubber 1.25s infinite linear
			}
		}

	/*** Colorisation des groupes et du bot système ***/
		.notAppAsidePanel_a3002d {
			.dm__972a0:has(.subtext__972a0) .name__20a53>div,	/* Colonne des conversations (groupes et bot système) */
			.children__9293f:not(:has(rect,[class*="tab"]))							/* En-tête des conversations */
			:is(span>div>div:nth-child(2),div>h1>span:first-child),								/* ... Groupe / Bot système */
			[class*="user-profile"]>div:has([aria-label="discord"])								/* Aperçu de profil et profil complet (bot système) */
			:is(.nickname__63ed3,.username__05e81)						/* ... Nom / Description */
			{color:var(--Groulor)!important}
			
			.dm__972a0:has(.subtext__972a0) 
			{
				&:has(.status_a423bd,[mask*="typing"],rect)							/* Groupe avec deux avatars : ".status_a423bd,[mask*="typing"]" / groupe avec image personnalisée : "rect" */
				{
					:is(.wrapper__44b0c,.container__1ce5d)::before {
						top:-5%;
						left:-5%;
						height:110%;
						width:110%;
						content: "";
						position:absolute;
						border-radius:50%;
						filter:blur(2.25px);
						background:radial-gradient(circle,var(--Groulor))
					}
				}
			}
		}

	/*** Remplacement de l'indicateur de statut ***/
			/* Cas particulier */
		/** Récupération du statut **/
		.user-profile-sidebar>div>div:not(:has([aria-label="discord"]))							/* Colonne d'aperçu de profil de conversation privée : "usernameRow__63ed3" et "userTag__63ed3" */
		{
			&:has(.header__7f9c0 rect:is([fill="#43a25a"],[fill="#45a366"],[mask*="online"])) {--Status:#43a25a}
			&:has(.header__7f9c0 rect:is([fill="#ca9654"],[fill="#ffc04e"],[mask*="idle"])) {--Status:#ca9654}				/* Problème lorsque l'on déplie les amis en commun */
			&:has(.header__7f9c0 rect:is([fill="#d83a42"],[fill="#da3e44"],[mask*="dnd"])) {--Status:#d83a42}			/* Le parent du statut et du pseudo a aussi pour fils les amis en commun */
			&:has(.header__7f9c0 rect:is([fill="#82838b"],[fill="#84858d"],[mask*="offline"])) {--Status:#82838b}
			&:has(.header__7f9c0 rect:is([fill="#9147ff"],[fill=""],[mask*="streaming"])) {--Status:#9147ff}

			/** Coloration selon le statut **/
			.usernameRow__63ed3 .defaultColor__4bd52,.userTag__63ed3>span
			{
				color:var(--Status,transparent);
				transition:color 1.5s
			}
		}

			/* Les autres */
		/** Récupération du statut **/
		.dm__972a0>div:not(:has(.subtext__972a0)),						/* Colonne des conversations (groupes et bot système exclus) : "name__20a53" et "truncated_c9d15c" */
		.userInfo__0a06e:has(rect),													/* Liste des amis : "info_f4bc97" et "truncated_c9d15c" */
		.header__00943,																/* Colonne des activités des amis : "textContent__00943" */
		.memberItem__5017b:has(rect),												/* Détails d'activité d'amis (soi-même exclu) : "info_f4bc97" */
		.children__9293f:has(rect[fill]),											/* En-tête des conversations : "title__9293f et nicknames__488b1" */
		.user-profile-popout>div:not(:has([aria-label="discord"])),								/* Aperçu de profil et Nitro : "usernameRow__63ed3", "info_f4bc97" et "userTag__63ed3" */
		.row__89036,																	/* Liste d'amis en commun : "info_f4bc97" et "truncated_c9d15c" */
		.profile__9c3be,.user-profile-modal>div,										/* Profil complet (membres, bots) : "usernameRow__63ed3", "info_f4bc97" et "userTag__63ed3" */
		.userInfo__1fed1,															/* Paramètres utilisateur - Mon compte : "info_f4bc97" */
		.avatarWrapper__37e49,														/* Zone utilisateur : "title_b6c092", "hovered__0263c" et "truncated_c9d15c" */

		.member__5d473:has(rect)														/* Colonne des membres de groupe et de serveur : "childContainer__91a9d", "wrapper__44b0c" et "truncated_c9d15c" */
		{
			&:has(rect:is([fill="#43a25a"],[fill="#45a366"],[mask*="online"])) {--Status:#43a25a}
			&:has(rect:is([fill="#ca9654"],[fill="#ffc04e"],[mask*="idle"])) {--Status:#ca9654}
			&:has(rect:is([fill="#d83a42"],[fill="#da3e44"],[mask*="dnd"])) {--Status:#d83a42}
			&:has(rect:is([fill="#82838b"],[fill="#84858d"],[mask*="offline"])) {--Status:#82838b}
			&:has(rect:is([fill="#9147ff"],[fill=""],[mask*="streaming"])) {--Status:#9147ff}

			/** Coloration selon le statut **/
			.name__20a53,.truncated_c9d15c:not(.dot_c9d15c),
			.info_f4bc97>span:first-child,
			.textContent__00943:first-child>:first-child,
			.textContent__00943:first-child:not(:has(*)),
			.title__9293f>span,.nicknames__488b1>span>span,
			.usernameRow__63ed3 .defaultColor__4bd52,.userTag__63ed3>span,
			.title_b6c092,.hovered__0263c
			{
				color:var(--Status,transparent);
				transition:color 1.5s
			}

			/** Ajout d'un liseré à gauche et à droite des membres selon leur statut **/
			.childContainer__91a9d
			{
				box-shadow:-2px 0 0 0 var(--Status,transparent),2px 0 0 0 var(--Status,transparent);
				transition:box-shadow 1.5s
			}

			/** Ajout d'une aura autour de l'avatar **/
			:is(.channel__972a0,														/* Colonne des conversations */
			.container__37e49,														/* Zone utilisateur */
			.members_c8ffbb) &														/* Colonne des membres de groupe et de serveur */
			{
				.wrapper__44b0c
				{
					box-shadow:0 0 5px 2px var(--Status,transparent);
					transition:box-shadow 1.5s
				}
			}
		}
	}
}

@keyframes	rotate	{0%	{transform:rotate3d(0,0,1,0)}
					100%{transform:rotate3d(0,0,1,360deg)}}

@keyframes	rubber	{0%	{transform:scale3d(1,1,1)}
					30%	{transform:scale3d(1.25,0.75,1)}
					40%	{transform:scale3d(0.75,1.25,1)}
					50%	{transform:scale3d(1.15,0.85,1)}
					65%	{transform:scale3d(.95,1.05,1)}
					75%	{transform:scale3d(1.05,.95,1)}
					100%{transform:scale3d(1,1,1)}}
