:root {
	--EmojiScale:		1.6;
	--EmojiOpacity:		.25;
	--EmojiTransition:	.2s
}

.visual-refresh {
	.scrollableContainer__74017 {
		&::-webkit-scrollbar {display:none}

		&>div {
			padding:0 12px 0 16px;
			
			.attachWrapper__0923f {
				top:0;
				height:0
			}

			.buttons__74017 {
				&>:not(:has(.emojiButton__74017)) {display:none}

				.emojiButton__74017 {
					transition:all var(--EmojiTransition) ease-in-out;
					opacity:var(--EmojiOpacity);
					scale:1;

					&:hover {
						opacity:1;
						scale:var(--EmojiScale)
					}
				}
			}
		}
	}
}
