:root {
	--EmojiScale:		1.6;
	--EmojiOpacity:		.25;
	--EmojiTransition:	.2s
}

.visual-refresh {
	._740174f3d6a2c8fe-scrollableContainer {
		&::-webkit-scrollbar {display:none}

		&>div {
			padding:0 12px 0 16px;
			
			._0923f156a0410684-attachWrapper {
				top:0;
				height:0
			}

			._740174f3d6a2c8fe-buttons {
				&>:not(:has(._740174f3d6a2c8fe-emojiButton)) {display:none}

				._740174f3d6a2c8fe-emojiButton {
					transition:all var(--EmojiTransition) ease-in-out;
					opacity:var(--EmojiOpacity);
					scale:1;

					&:hover {
						opacity:1;
						scale:var(--EmojiScale)
					}
				}
			}
		}
	}
}
