root {
	--EmojiScale:		1.6
	--EmojiOpacity:		.25
	--EmojiTransition:	.2s
}

/* Cache tous les boutons sauf celui des émojis */
.buttons__74017>:not(:has(.emojiButton__74017))	{display:none}

/* Gère le bouton des émojis */
.emojiButton__74017				{scale:1;opacity:var(--EmojiOpacity);transition:all var(--EmojiTransition) ease-in-out}
.emojiButton__74017:hover			{scale:var(--EmojiScale);opacity:1}
