:root {
	--Aurore-On:	url("https://cdn.discordapp.com/avatar-decoration-presets/a_386445551be850bb16b73a225d0d0602.png?passthrough=true");
	--Aurore-Off:	url("https://cdn.discordapp.com/avatar-decoration-presets/a_386445551be850bb16b73a225d0d0602.png?passthrough=false");

	--CoupDeCœur-On:	url("https://cdn.discordapp.com/avatar-decoration-presets/a_7f44d538ec830f479605f7bf8720afda.png?passthrough=true");
	--CoupDeCœur-Off:	url("https://cdn.discordapp.com/avatar-decoration-presets/a_7f44d538ec830f479605f7bf8720afda.png?passthrough=false");

	--PoussièreDétoiles-On:	url("https://cdn.discordapp.com/avatar-decoration-presets/a_a47890109a231f72dae7b17b27164676.png?passthrough=true");
	--PoussièreDétoiles-Off:	url("https://cdn.discordapp.com/avatar-decoration-presets/a_a47890109a231f72dae7b17b27164676.png?passthrough=false");
}

.list__07f91 {
	.voiceUser__07f91 {
		.avatar__07f91 {
			position:relative;

			&::after {
				content:"";position:absolute;top:-3px;left:-3px;width:125%;height:125%;background-size:cover;background-position:center;background-repeat:no-repeat
			}

			/* Utilisateur 1 */
			&[style*="218114178144010241"] {
				&::after {
					background-image:var(--PoussièreDétoiles-Off)
				}
				&.avatarSpeaking__07f91::after,
				.voiceUser__07f91:hover &::after {
					background-image:var(--PoussièreDétoiles-On)
				}
			}

			/* Utilisateur 2 */
			&[style*="246270945541488641"] {
				&::after {
					background-image:var(--Aurore-Off)
				}
				&.avatarSpeaking__07f91::after,
				.voiceUser__07f91:hover &::after {
					background-image:var(--Aurore-On)
				}
			}

			/* Utilisateur 3 */
			&[style*="385449020945858564"] {
				&::after {
					background-image:var(--CoupDeCœur-Off)
				}
				&.avatarSpeaking__07f91::after,
				.voiceUser__07f91:hover &::after {
					background-image:var(--CoupDeCœur-On)
				}
			}

			/* Utilisateur 4 */
				/* ... */
		}
	}
}
