@import url(https://TirOFlanc.github.io/Discord-Snippets/UnobtrusiveTooltipInteraction.css);

:root {
	--MemberlistCollapse:	64px;
	--MemberlistExpand:		264px
}

.visual-refresh {
	:is(.container_c8ffbb,.container__7641b) {
		--custom-member-list-width:var(--MemberlistCollapse);
		width:var(--custom-member-list-width);
		transition:width .15s ease-in-out;
		contain:layout paint size;
		/* will-change:transform; */
		isolation:isolate;

		.members_c8ffbb {
			padding-top:5px;

			.membersGroup_c8ffbb {
				&,&~div:not([class]),&~[class*="offline"],
				.toggleExpandIcon__095fe {display:none}

				&>:last-child {justify-content:center}

				&:has(.headerContainer__095fe) {
					transition:height .2s,padding-block .2s,opacity .2s;
					/* will-change:height,padding-block,opacity; */
					opacity:0;
					height:0;
					padding-block:0;

					&:hover {
						opacity:1;
						height:42px;
						padding-block:15px
					}
				}

				&:not(:has(.headerContainer__095fe)) {
					padding-top:15px;
					margin-bottom:5px;
					text-align:center;
					background-image:
						linear-gradient(90deg,transparent,transparent),
						linear-gradient(90deg,transparent,var(--channels-default),transparent);
					background-size:100% 1px;
					background-position:0 0,0 100%;
					background-repeat:no-repeat
				}
			}
		}

		&:hover {
			--custom-member-list-width:var(--MemberlistExpand);
			transition:width .3s ease-in-out;

			.members_c8ffbb {
				padding-top:0;

				.membersGroup_c8ffbb {
					&,&~div:not([class]),&~[class*="offline"] {display:block}
				}
			}
		}
	}
}
