@import url(https://TirOFlanc.github.io/Discord-Snippets/UnobtrusiveTooltipInteraction.css);

:root {
	--MemberlistWidthCollapse:	64px;
	--MemberlistWidthExpand:	310px;
	--MemberlistCollapse:		width .2s ease-in-out;
	--MemberlistExpand:			width .1s ease-in-out
}

.visual-refresh {
	:is(.container_c8ffbb,.container__7641b) {
		--custom-member-list-width:var(--MemberlistWidthCollapse);
		--_MemberlistTransition:var(--MemberlistCollapse);
		transition:var(--_MemberlistTransition);
		width:var(--custom-member-list-width);
		contain:layout paint size;
		isolation:isolate;

		.members_c8ffbb {
			padding-top:5px;

			.membersGroup_c8ffbb {
				&,&~div:not([class]),&~[class*="offline"],
				.toggleExpandIcon__095fe {display:none}

				&>:last-child {justify-content:center}

				&:has(.headerContainer__095fe) {
					transition:height .15s,padding-block .15s,opacity .15s;
					opacity:0;
					height:0;
					padding-block:0;

					&:hover {
						opacity:1;
						height:42px;
						padding-block:15px
					}
				}

				&:not(:has(.headerContainer__095fe)) {
					padding-top:15px;
					margin-bottom:5px;
					text-align:center;
					background-image:
						linear-gradient(90deg,transparent,transparent),
						linear-gradient(90deg,transparent,var(--channels-default),transparent);
					background-size:100% 1px;
					background-position:0 0,0 100%;
					background-repeat:no-repeat
				}
			}
		}

		&:hover {
			--custom-member-list-width:var(--MemberlistWidthExpand);
			--_MemberlistTransition:var(--MemberlistExpand);

			.members_c8ffbb {
				padding-top:0;

				.membersGroup_c8ffbb {
					&,&~div:not([class]),&~[class*="offline"] {display:block}
				}
			}
		}
	}
}
