@import url(https://TirOFlanc.github.io/Discord-Snippets/UnobtrusiveTooltipInteraction.css);

:root {
	--MemberlistWidthCollapse:	64px;
	--MemberlistWidthExpand:	310px;
	--MemberlistCollapse:		all .3s ease-in-out;
	--MemberlistExpand:			all .2s ease-in-out;
}

.visual-refresh {
	.membersWrap_c8ffbb {
		--custom-member-list-width:var(--MemberlistWidthCollapse);
		--_MemberlistTransition:var(--MemberlistCollapse);
		width:var(--custom-member-list-width);
		transition:var(--_MemberlistTransition);
		transition-property:width;
		min-width:0;

		.members_c8ffbb {
			transition:var(--_MemberlistTransition);
			transition-property:padding-top;
			padding-top:7px;
			width:100%;

			.container__0f2e8,
			.member__5d473 {max-width:unset}

			.membersGroup_c8ffbb {
				.headerContainer__095fe {
					cursor:auto;

					&>[role="button"] {cursor:pointer}

					.headerSpacer__095fe,
					.toggleExpandIcon__095fe {display:none}
				}

				&:not(:has(*)),
				&>:last-child {display:flex;justify-content:center}

				&:has(.headerContainer__095fe) {									/* Catégorie des Activités */
					transition:var(--MemberlistCollapse);
					transition-property:padding-block,max-height,opacity;
					padding-block:0;
					max-height:0;
					opacity:0;

					&:hover {
						transition:var(--MemberlistExpand);
						transition-property:padding-block,max-height,opacity;
						padding-block:15px;
						max-height:42px;
						opacity:1;
					}
				}

				&:not(:has(.headerContainer__095fe)) {								/* Catégorie des Membres */
					background-image:
						linear-gradient(90deg,transparent,transparent),
						linear-gradient(90deg,transparent,var(--channels-default),transparent);
					background-size:100% 1px;
					background-position:0 0,0 100%;
					background-repeat:no-repeat;
					transform:translateY(-5px);
					pointer-events:none;

					transition:var(--_MemberlistTransition);
					transition-property:padding-block,max-height,opacity;
					overflow:hidden;
					padding-block:0;
					max-height:0;
					opacity:0;
				}
			}

			.inviteToGroupButton_c8ffbb,
			div:not([class],[style]),												/* Cartes d'Activités */
			div[class*="offline"] {													/* Membres Hors ligne */
				transition:var(--_MemberlistTransition);
				transition-property:padding-block,max-height;
				overflow:hidden;
				padding-block:0;
				max-height:0;
			}
		}

		&:not(:hover) .content_d125d2 {height:auto!important}

		&:hover {
			--custom-member-list-width:var(--MemberlistWidthExpand);
			--_MemberlistTransition:var(--MemberlistExpand);

			.members_c8ffbb {
				padding-top:0;

				.membersGroup_c8ffbb {
					&:not(:has(.headerContainer__095fe)) {								/* Catégorie des Membres */
						padding-block:var(--space-lg) var(--space-xxs);
						max-height:42px;
						opacity:1;
					}
				}

				div:not([class],[style]) {max-height:78px}								/* Cartes d'Activités */

				.inviteToGroupButton_c8ffbb,
				div[class*="offline"] {													/* Membres Hors ligne */
					padding-block:1px;
					max-height:42px;
				}
			}
		}
	}
}
