:root {
	--MemberlistCollapse:	64px;
	--MemberlistExpand:		264px
}

.visual-refresh {
	:is(.container_c8ffbb,.container__7641b) {
		--custom-member-list-width:var(--MemberlistCollapse);
		width:var(--custom-member-list-width);
		transition:width .1s;
		will-change:width;

		&:hover {
			--custom-member-list-width:var(--MemberlistExpand);
			transition:width .3s
		}

		&:not(:hover) {
			.membersGroup_c8ffbb {
				&+div {padding-top:6px}
				&,&~div:not([class]) {display:none}
				&~[class*="offline"] {
					opacity:0;
					transition:opacity .2s;
					will-change:opacity
				}
			}
		}

		.membersGroup_c8ffbb {
			.toggleExpandIcon__095fe {display:none}

			&:has(.toggleExpandIcon__095fe) {
				transition:height .3s,padding-top .3s,opacity .3s;
				will-change:height,padding-top,opacity;
				opacity:0;
				height:0;
				padding-top:0;

				&:hover {
					opacity:1;
					height:42px;
					padding-top:20px
				}
			}

			.headerContainer__095fe {justify-content:center}

			&:not(:has(.headerContainer__095fe)) {
				padding-top:15px;
				margin-bottom:5px;
				text-align:center;
				background-image:
					linear-gradient(90deg,transparent,transparent),
					linear-gradient(90deg,transparent,var(--channels-default),transparent);
				background-size:100% 1px;
				background-position:0 0,0 100%;
				background-repeat:no-repeat
			}
		}
	}
}
