@import url(https://TirOFlanc.github.io/Discord-Snippets/UnobtrusiveTooltipInteraction.css);

:root {
	--SidebarWidth:		1px;
	--SidebarExpand:	width .15s ease-in-out;
	--SidebarCollapse:	width .3s ease-in-out
}

.visual-refresh {
	.sidebar__5e434 {
		--_SidebarTransition:var(--SidebarCollapse);
		isolation:isolate;

		.guilds__5e434,
		.sidebarList__5e434,
		.bannerImg_f37cb1 {transition:var(--_SidebarTransition)}

		.guilds__5e434 {width:var(--SidebarWidth)}

		.sidebarList__5e434,
		.bannerImg_f37cb1 {width:calc(var(--custom-guild-sidebar-width) - var(--SidebarWidth) - 1px)}

		&:hover {
			--_SidebarTransition:var(--SidebarExpand);

			.guilds__5e434,
			.sidebarList__5e434,
			.bannerImg_f37cb1 {will-change:width}
		}

	/* Pour un survol sur l'entièreté des colonnes de serveurs et de conversations privées / salons */
		/* &:has(>:nth-child(-n+2):hover) {--SidebarWidth:var(--custom-guild-list-width)} */

	/* Pour un survol sur la colonne de serveur et les en-têtes des colonnes de conversations privées / salons */
		&:has(.guilds__5e434:hover),
		&:has(.sidebarList__5e434>nav>:first-child:hover) {--SidebarWidth:var(--custom-guild-list-width)}
	}
}
