:root {
	--SidebarWidth:		1px;
	--SidebarExpand:	width .15s ease-in-out;
	--SidebarCollapse:	width .3s ease-in-out
}

.visual-refresh {
	._5e434347c823b592-sidebar {
		--_SidebarTransition:var(--SidebarCollapse);
		isolation:isolate;

		._5e434347c823b592-guilds,
		._5e434347c823b592-sidebarList,
		.f37cb1984c371ee5-bannerImg {transition:var(--_SidebarTransition)}

		._5e434347c823b592-guilds {width:var(--SidebarWidth)}

		._5e434347c823b592-sidebarList,
		.f37cb1984c371ee5-bannerImg {width:calc(var(--custom-guild-sidebar-width) - var(--SidebarWidth) - 1px)}

		&:hover {
			--_SidebarTransition:var(--SidebarExpand);

			._5e434347c823b592-guilds,
			._5e434347c823b592-sidebarList,
			.f37cb1984c371ee5-bannerImg {will-change:width}
		}

	/* Pour un survol sur l'entièreté des colonnes de serveurs et de conversations privées / salons */
		/* &:has(>:nth-child(-n+2):hover) {--SidebarWidth:var(--custom-guild-list-width)} */

	/* Pour un survol sur la colonne de serveur et les en-têtes des colonnes de conversations privées / salons */
		&:has(._5e434347c823b592-guilds:hover),
		&:has(._5e434347c823b592-sidebarList>nav>:first-child:hover) {--SidebarWidth:var(--custom-guild-list-width)}
	}
}
