:root {
	--SidebarCollapse:																width .15s ease-in-out .3s;
	--SidebarExpand:																width .3s ease-in-out .15s;
	--VisibleWidth:																	1px
}

/* Gère la largeur par défaut de la colonne des serveurs */
												.guilds_c48ade						{width:var(--VisibleWidth)!important;transition:var(--SidebarCollapse)}

/* Gère la largeur par défaut de la colonne des amis/salons */
												.sidebar_c48ade>.sidebarList_c48ade	{width:var(--custom-guild-sidebar-width);transition:var(--SidebarCollapse)}

/* Affiche la colonne des serveurs au survole des colonnes des amis/salons et des serveurs */
.sidebar_c48ade:has(>:nth-child(-n+2):hover)	{&>.guilds_c48ade					{width:var(--custom-guild-list-width)!important;transition:var(--SidebarExpand)}
												&>.sidebarList_c48ade				{width:calc(var(--custom-guild-sidebar-width) + var(--VisibleWidth) - var(--custom-guild-list-width));transition:var(--SidebarExpand)}}
