.visual-refresh {
	#app-mount {

	/*** Rétrécissement de la barre de défilement de 2px ***/
		.members_c8ffbb::-webkit-scrollbar {width:6px}

	/*** Suppression de l'indicateur de statut par défaut ***/
		wrapper__44b0c,
		container__1ce5d {
			rect,circle,
			.status_a423bd {display:none}

			[mask] {mask:none}

			.mask__44b0c .avatar__44b0c,
			& :is([src*="avatars"],[src*="assets"]) {
				border-radius:50%
			}
		}

	/*** Remplace l'indicateur de frappe ***/
		[class*="layout"]:has(.dots__5ad89) {
			& :is([src*="avatars"],[src*="assets"],[class*="emoji"],.badge__10651,path) {
				will-change:transform;
				transform-origin:50% 50%;
				animation:rotate 1.25s infinite linear
			}

			& [class*="content"] {
				will-change:transform;
				transform-origin:0% 50%;
				animation:rubber 1.25s infinite linear
			}
		}

	/*** Colorise les groupes et le bot système et estompe les utilisateurs supprimés de la colonne des conversations privées ***/
		.layout__20a53 {			
			&:has(.subtext__972a0) .name__20a53 {color:var(--Groulor)}

			&:has([aria-label*="deleted_user"]):not(:hover) {opacity:.25}
		}

	/*** Remplacement de l'indicateur de statut ***/
			/* Cas particulier */
		/** Récupération du statut **/
		
		{
			&:has(.header__7f9c0 [fill="#43a25a"]) {--Status:#43a25a}			/* Sidebar de conversation privée car : */
			&:has(.header__7f9c0 [fill="#ca9654"]) {--Status:#ca9654}			/* Problème lorsque l'on déplie les amis en commun */
			&:has(.header__7f9c0 [fill="#d83a42"]) {--Status:#d83a42}			/* Le parent du statut et du pseudo a aussi pour fils les amis en commun */
			&:has(.header__7f9c0 [fill="#82838b"]) {--Status:#82838b}
			&:has(.header__7f9c0 [fill="#9147ff"]) {--Status:#9147ff}

			/** Coloration du pseudo selon le statut **/
			
			{
				color:var(--Status,transparent)/*,var(--Groulor))*/;
				/* transition:color 1s */
			}
		}

			/* Les autres */
		/** Récupération du statut **/
		.dm__972a0>div/* .layout__20a53*/:not(:has(.subtext__972a0)),			/* Colonne des conversations (groupes et bot système exclus) : "name__20a53" */
		.userInfo__0a06e,														/* Liste des amis : "info_f4bc97" */
		.header__00943,															/* Colonne des activités des amis : "textContent__00943" */
		.memberItem__5017b:has(rect),											/* Détails d'activité d'amis (soi-même exclu) : "info_f4bc97" */
		.children__9293f:has(rect[fill]),										/* En-tête des conversations : "title__9293f et nicknames__488b1" */
		.user-profile-popout>div:not(:has([aria-label="discord"])),				/* Aperçu de profil et Nitro : "usernameRow__63ed3", "info_f4bc97" et "userTag__63ed3" */
		.row__89036,															/* Liste d'amis en commun : "info_f4bc97" */
		.profile__9c3be,.user-profile-modal>div,								/* Profil complet (membres, bots) : "usernameRow__63ed3", "info_f4bc97" et "userTag__63ed3" */
		.userInfo__1fed1,														/* Paramètres utilisateur - Mon compte : "info_f4bc97" */
		.avatarWrapper__37e49													/* Zone utilisateur : "title_b6c092", "hovered__0263c", et "activityStatusText__37e49" */
		{
			&:has([fill="#43a25a"],[mask*="online"]) {--Status:#43a25a}
			&:has([fill="#ca9654"],[mask*="idle"]) {--Status:#ca9654}
			&:has([fill="#d83a42"],[mask*="dnd"]) {--Status:#d83a42}
			&:has([fill="#82838b"],[mask*="offline"]) {--Status:#82838b}
			&:has([fill="#9147ff"],[mask*="streaming"]) {--Status:#9147ff}

			/** Coloration des pseudos selon le statut **/
			.name__20a53,
			.textContent__00943:first-child>:first-child,
			.textContent__00943:first-child:not(:has(*)),
			.info_f4bc97>span:first-child,
			.title__9293f>div,.nicknames__488b1>span>span,
			.usernameRow__63ed3 .defaultColor__4bd52,.userTag__63ed3>span,
			.title_b6c092,.hovered__0263c,.activityStatusText__37e49
			{
				color:var(--Status,transparent);
				transition:color 2.5s
			}

			/** Ajout d'un liseré à gauche et à droite du membre selon son statut **/
			
			{
				box-shadow:-2px 0 0 0 var(--Status),2px 0 0 0 var(--Status);
				/* transition:box-shadow 1s */
			}
		}
	}
}
