.visual-refresh {
	#popover-portal {
		&+._59d0d7075b521375-layerContainer {
			._59d0d7075b521375-clickTrapContainer {
				&:has([class*="tooltip"],[role="tooltip"]):not(:has([role="dialog"])) {
					& * {pointer-events:none}
				}
			}
		}
	}
}
