.visual-refresh {
	#popover-portal {
		&+.layerContainer__59d0d {
			.clickTrapContainer__59d0d {
				&:has([class*="tooltip"],[role="tooltip"]):not(:has([role="dialog"])) {
					& * {pointer-events:none}
				}
			}
		}
	}
}
