/* Supprime le bouton d'aide Discord */
.trailing_c38106 .anchor_edefb8,
/* Supprime le bouton "Rechercher/lancer une conversation" */
.searchBar__35e86,
/* Supprime les boutons "Nitro" et "Boutique" */
:not(.friendsButtonContainer__35e86)>.channel__972a0.container_e45859:not(.dm__972a0),
/* Supprime le bouton "Créer un MP" */
.privateChannelsHeaderContainer__99e7c button,

/* Supprime l'icon communautaire dans l'en-tête du serveur */
.guildIconV2Container__85d16,
/* Supprime la barre de progression "Objectif de Boost" */
.container__0d0f9,
/* Supprime le bouton "Boosts de serveur" */
.container__877f0,
/* Supprime les boutons "Créer une invitation" dans la liste des salons */
[aria-label="Créer une invitation"]	{display:none !important}

/* Permet de déplacer la fenêtre Discord au lieu de cliquer dans la description de salon */
.channelNotice__4c43d {position:relative}
.channelNotice__4c43d div {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px}
.channelNotice__4c43d:hover .channelNotice__4c43d div {display:block}
